:root {
  --iris: #4d5ae5;
  --cloud: #F4F4FD;
  --navy: #2E2F42;
  --cornflower: #E7E9FC;
  --ocean: #404BBF;
  --light-slate: #8E8F99;
  --green: #31D0AA;
  /* TO BE FIXED LATER */
  --slate: #e2547a;
}

* {
    margin: 0;
    padding: 0;
}

/* SECTION PADDING/MARGIN */
.section {
    padding: 96px 0;
}

.section:not(.hero-section) .container,
.footer-div {
    max-width: 428px;
}

@media screen and (min-width: 768px) {
    .section:not(.hero-section) .container,
    .footer-div {
        max-width: 768px;
    }
}

/* section for desktop */
@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0px;
    }

    .section:not(.hero-section) .container,
    .footer-div {
        max-width: 1128px;
    }
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navy);
    margin: 0 auto;
    margin-bottom: 72px;
}

/* default font */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.visually-hidden {
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.list {
    padding-left: 0;
    list-style: none;
}

.link,
.list-app {
    text-decoration: none;
}

/* ocean pseudo-class color */
.link:active,
.link:hover,
.link:focus, 
.nav .link:active,
.nav .link:hover,
.nav .link:focus, 
.contacts .link:active,
.contacts .link:hover,
.contacts .link:focus,
.footer .link:active,
.footer .link:hover,
.footer .link:focus,
.menu-navlist .list-item .link:focus,
.menu-navlist .list-item .link:hover {
    color: var(--ocean);
}

/* image */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66 , 0.08);
}

.header .container {
    width: 100%;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO */
.logo {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-head {
    color: var(--navy);
}

.nav .list,
.separate-nav .list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.nav .list .link,
.separate-nav .list .link {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .list .active-nav .active-link{
  position: relative;
  color: var(--ocean);
}

.header .list .active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--ocean);
  border-radius: 2px;
}

/* tablet format of contacts */
.contacts,
.contacts .link {
    font-style: normal;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* MEDIA CHANGE IN HEADER */
@media screen and (max-width: 767px) {
    .header .list {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .menu-toggle, .header .nav .list, .menu-container {
        display: none;
    }
    
    .header .container {
        padding: 0 16px;
    }

    .header .list {
        display: flex;
    }

    .contacts .list {
        flex-direction: column;
        gap: 12px;
    }
}
@media screen and (min-width: 1158px) {
    .menu-toggle, .separate-nav {
        display: none;
    }

    .header .container {
        justify-content: space-around;
        padding: 0;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        display: flex;
        margin-right: 76px;
        align-items: center;
    }

    .contacts,
    .contacts .link {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    .contacts .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}


.menu-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    z-index: 200;
}
.menu-container.is-open {
    transform: translateX(0%);
}

.close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    background-color: var(--ocean);
    border: none;
}

.close-icon {
    fill:var(--navy);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close-icon,
.close:focus .close-icon {
    fill:#ffffff;
}

.menu {
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-navlist .list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-navlist .list-item .link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navy);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-separator {
    position: absolute;
    bottom: 40px;
    gap: 48px;
    display: flex;
    flex-direction: column;
}

.menu-socmed,
.footer-socmed,
.team-socmed
 {
    list-style: none;
    display: flex;
}

.contactlist{
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.email {
    color: var(--slate);
}

.tel {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--iris);
}


.menu-socmed{
    gap: 56px;
}


.socmed-list {
    width: 40px;
    height: 40px;
    display: flex;
}

.socmed-link {
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--cloud);
}

.menu-socmed .socmed-link:focus,
.menu-socmed .socmed-link:hover,
.team-socmed .socmed-link:focus,
.team-socmed .socmed-link:hover {
    background-color: var(--ocean);
}

.footer-socmed .socmed-link:focus,
.footer-socmed .socmed-link:hover {
    background-color: var(--green);
}

/* HERO SECTION */
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-mob-x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: unset;
    padding: 112px 0;
}


.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-bottom: 72px;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
    (min-resolution: 1920dpi),
    (min-resolution: 10dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-mob-x2.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-tab-x1.jpg);
    }

    .hero-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-device-pixel-ratio: 2),
(min-resolution: 1920dpi),
(min-resolution: 10dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-tab-x2.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-desk-x1.jpg);
    }
    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-resolution: 1920dpi),
(min-resolution: 10dppx){
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-desk-x2.jpg);
    }
}

.hero-button {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding: 16px 32px;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}


/* STWO */
.section.section-two{
    padding: 96px 0 48px 0;
}

.stwo-container {
    margin: 0 auto;
    padding: 0 16px;
}

.stwo-container .list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.stwo-div{
    background-color: var(--cloud);
    height: 112px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
}

.selection .item-title {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navy);
}


.selection-p {
    font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .stwo-container .list {
        gap: 88px 24px;
    }
}

@media screen and (min-width: 768px) {
    .selection .item-title {
        justify-content: flex-start;
    }
    
    .selection {
        width: calc((100% - 24px) / 2);
    }

    .section.section-two {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .stwo-container {
        padding: 0;
    }

    .stwo-div {
        display: flex;
    }

    .section.section-two {
        padding: 120px 0 0 0;
    }

    .section-two .selection {
        width: calc((100% - 72px) / 4);
    }

    .selection .item-title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-transform: none;
        color: var(--navy)
    }

    .selection-p {
        font-weight: 400;
    }

}

/* SECTION THREE */
.section-three {
    display: none;
}

@media screen and (min-width: 1158px) {
    .section-three{
        display:flex;
    }

    .sthree-container {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sthree-container .list{
        display: flex;
        gap: 24px;
    }

    .wwd {
        width: calc((100% - 48) / 3);
    }
}

/* SECTION-FOUR */
.section-four{
    background-color: var(--cloud);
}

.sfour-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sfour-container .list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .sfour-container .list{
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .sfour-container .list {
        gap: 24px;
    }
}

.team-list {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-details {
    background-color: white;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sfour-container .item-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--navy);
}

.team-p {
    margin-bottom: 8px;
}

.team-socmed{
    gap: 24px;
}

/* SECTION FIVE */
.sfive-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.client-lists {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.client-list {
    display: flex;
    height: 88px;
    width: calc((100% - 24px) / 2);
}

@media screen and (min-width: 768px) {
.client-list {
    width: calc((100% - 48px) / 3);
}
}

@media screen and (min-width: 1158px) {
    .client-list {
        width: calc((100% - 120px) / 6);
    }
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    fill: var(--light-slate);
    color: var(--light-slate);
    width: 100%;
    height: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus,
.client-link:hover {
    border-color: var(--ocean);
    color: var(--ocean);
    fill: var(--ocean);
}

/* FOOTER */

.footer,
.logo-footer {
    color: var(--cloud);
}

.footer {
    background-color: var(--navy);
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footer-text-container {
    margin-right: 120px;
}
.footer .logo,
.socmed-p,
.newsletter-p {
    margin-bottom: 16px;
}

.footer-social {
    margin-right: 80px;
}

.footer-socmed {
    gap:16px;
}

.socmed-p,
.newsletter-p,
.subscribe-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.newsletter-form{
    display : flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.nl-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.nl-input::placeholder{
  color: #ffffff;
}

.subscribe-button {
  background-color: var(--iris);
  padding: 8px 24px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor:pointer;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.subscribe-icon {
    margin-left: 16px;
}